
@import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/bootstrap/less/mixins.less";

@font-face {
  font-family: 'billy';
  src: url('../fonts/Billy.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Billy.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body { }

.tutorial-container { position: absolute; }
.tutorial {
  font-family: billy;
  position: absolute;
  font-size: 70px;
  line-height: 70px;
  z-index: 200;
  white-space: nowrap;
  color: #004C7F;
}
.tutorial.step1 { left: 50px; top: 20px; }
.tutorial.step2 { left: 130px; top: 20px; }
.tutorial.step3 { position: fixed; right: 250px; bottom: 50px; }
.tutorial .small { font-size: 40px; line-height: 30px; }
.tutorial .small p { margin-left: 200px; }
svg.arrow { float: left; width: 100%; height: 400px; position: absolute; z-index: 200; }
svg.arrow path { stroke-width: 2px; stroke: #004C7F; fill: none; }

.fade {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 180;
  background: #E0EDFF;
  top: 0;
  left: 0;
  position: fixed;
}
.promo-outer {
  width: 100%;
  height: 100%;
  z-index: 210;
  top: 0;
  left: 0;
  position: fixed;
  text-align: center;
  display: table;
}
.promo {
  vertical-align: bottom;
  display: table-cell;
  z-index: 200;
  position: relative;
}
.promo .btn {
  margin: auto;
  margin-bottom: 230px;
  font-size: 200%;
  font-weight: 100;
  padding: 20px 50px;
}

body {
  .arrow, .tutorial { display: none; }
}
body.showPromo {
  .arrow, .tutorial { display: block; }
}

.editor { }
.CodeMirror {
  border: 1px solid #ddd;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
  max-height: 350px;
}

.save-as { margin: 10px; position: absolute; cursor: pointer; }
.resizable { display: inline-block; border: 1px solid #ddd; }

.panel-heading .right { float: right; margin-left: 10px; }
.alert-bottom { margin-top: 20px; margin-bottom: 0px; }

.dropdown-menu .glyphicon { float: right; }

.main { padding-top: 60px; }
.chart-pane { text-align: center; }
.chart-pane .resizable { text-align: left; }
accordion .panel-title a { display: block; cursor: pointer; }
.axis-domain input { width: 100px; }

.data-list li .label { width: 45px; padding-left: 5px; padding-right: 5px; display: inline-block; margin-right: 10px; }
.data-column { white-space: nowrap; overflow: hidden; }
.data-column .error { float: right; color: #f04124; }
.data-src-list .ui-sortable-placeholder { display: none; }
.data-list { min-height: 20px; background-color: #eee; }
.variable { font-style: italic; }
.handsontable tbody tr:first-child td { background-color: #f5f5f5; }
.panel-body .controls .toggle-json { float: right; font-size: 12px; }

accordion .panel { overflow: visible !important; }
accordion .panel .collapsing .popover div { display: none; }
.popover { color: inherit !important; padding: 0px !important; border-width: 0px !important; outline:0; background-color: #e5e5e5 !important; }
.popover textarea { resize: none; }
.popover.right>.arrow:after { border-right-color: #aaa !important; }
.popover .modal-body { width: 260px; }
.popover .modal-footer { margin-top: 0px; }
.panel a.settings { color: #bbb; float: right; cursor: pointer; }

.popover .ui-slider { display: inline-block; width: 170px; margin-top: 10px;
margin-right: 10px; }
.btn-group input[type=radio] { display: none; }
.btn-group .btn:not(.selected) { background: inherit; }
.btn-group.color-buttons label { padding: 5px 10px; margin-bottom: 10px; }
.btn-group.format-buttons .btn { width: 46px; }
.chart-type rect, .chart-type path { fill: #999; stroke: white; stroke-width: 1; }
.chart-type .sankey path { fill: none; stroke: #999; }
.chart-type .line path { fill: none; stroke: #999; stroke-width: 1px; }
.radio.min-max label label { display: inline-block; }
.radio.min-max > label > input { margin-top: 25px; }
.radio.min-max label label input { display: block; width: 80px; margin-right: 10px; }

label { font-weight: 300 !important; }
label input[type="radio"], label input[type="checkbox"] { margin: 0px; }
.title { font-size: 15px; font-weight: 300; margin: 10.5px 0px; }
.toolbar { font-weight: 300; margin: 20px; }
@media(min-width:992px) { .toolbar { position: fixed; right: 0px; bottom: 0px; } }
