
@import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/bootstrap/less/mixins.less";

body { }

.editor { }
.CodeMirror {
  border: 1px solid #ddd;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
  max-height: 350px;
}

.resizable { display: inline-block; border: 1px solid #ddd; }

.container { .make-row(); }
.settings { .make-md-column(5); .make-lg-column(6); }
.chart-outer { .make-md-column(7); .make-lg-column(6); }

.panel-heading .right { float: right; margin-left: 10px; }
.alert-bottom { margin-top: 20px; margin-bottom: 0px; }

.dropdown-menu .glyphicon { float: right; }

.main { padding-top: 60px; }
.chart-pane { text-align: center; }
accordion .panel-title a { display: block; cursor: pointer; }
.axis-domain input { width: 100px; }
