
@import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/bootstrap/less/mixins.less";

body { overflow-x: hidden; margin-top: 20px; }

.editor { }
.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
  max-height: 350px;
}

.resizable { display: inline-block; float: left; border: 1px solid black; }

.container { .make-row(); }
.settings { .make-md-column(5); .make-lg-column(6); }
.chart-outer { .make-md-column(7); .make-lg-column(6); }

.panel-heading .right { float: right; margin-left: 10px; }
.alert-bottom { margin-top: 20px; margin-bottom: 0px; }

.dropdown-menu .glyphicon { float: right; }
