<!DOCTYPE html>
<html lang="en" id="html" ng-app="pivotchart" ng-controller="MainCtrl">
  <head>
    <meta charset="utf-8">
    <title>PivotChart.js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="bower_components/codemirror/lib/codemirror.css" rel="stylesheet" type="text/css" >
    <link href="less/pivotchart.less" rel="stylesheet/less" type="text/css" >
  </head>

  <body>
    <script type="text/ng-template" id="import.html">
      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">Import</h4>
      </div>
      <div class="modal-body">
        <p>Type a URL for your JSON data:</p>
        <input class="form-control" ng-model="data.url" type="text" autofocus></input>
        <div class="alert alert-danger alert-bottom" ng-show="error">
          <strong>Error:</strong>
          HTTP request failed. Make sure the URL is correct and the remote
          resource has the <code>Access-Control-Allow-Origin: *</code> header.
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="ok()">Import</button>
      </div>
    </script>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div class="settings">
            <div class="input">
              <div class="panel panel-default">
                <div class="panel-heading">Input
                  <button class="btn btn-default btn-xs right" title="Import" ng-click="import(chart)">
                    <span class="glyphicon glyphicon-import"></span>
                  </button>
                  <button class="btn btn-default btn-xs right" title="Refresh" ng-show="chart.url" ng-click="refresh_import(chart)">
                    <span class="glyphicon glyphicon-refresh"></span>
                  </button>
                </div>
                <div class="panel-body">
                  <editable-function ng-model="chart.inputArg" class="editor">
                  </editable-function>
                </div>
              </div>
            </div>
            <div class="code">
              <div class="panel panel-default">
                <div class="panel-heading">Transformation
                </div>
                <div class="panel-body">
                  <editable-function ng-model="chart.fn" eval-args="[chart.inputArg]"
                    validate-fn="validateFn" class="editor">
                  </editable-function>
                </div>
              </div>
            </div>
            <div class="output">
              <div class="panel panel-default">
                <div class="panel-heading">Output
                  <span class="dropdown right">
                    <a class="btn btn-default btn-xs" title="Save as PNG" ng-click="saveAs($event)"
                       download="pivotchartjs.png">
                      <span class="glyphicon glyphicon-floppy-save"></span>
                    </a>
                    <button class="btn btn-default btn-xs dropdown-toggle"
                      data-toggle="dropdown" title="Select chart type">
                      <span class="glyphicon glyphicon-th"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                      <li ng-repeat="type in chartTypes">
                      <a tabindex="-1" ng-click="addChart(type)">
                        {{type.name}}
                        <span class="glyphicon glyphicon-ok" ng-show="type.type == chart.type"></span>
                      </a>
                      </li>
                    </ul>
                  </span>
                </div>
                <div class="panel-body">
                  <div class="editor">
                    <textarea ui-codemirror="{readOnly: true}"
                      ng-model="chart._dataCacheStr"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="chart-outer">
            <div class="chart-inner">
              <!--<div ac-chart="chart.type"
                ac-data="evalFn(chart)"
                ac-config="chart.config"
                class='chart'></div>-->
              <pivot-bars data="evalFn(chart)" x-w="width" x-h="height"></pivot-bars>
            </div>
          </div>
        </div><!--/span-->
      </div><!--/row-fluid-->
    </div><!--/.container-fluid-->

    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/codemirror/lib/codemirror.js"></script>
    <script src="bower_components/codemirror/mode/javascript/javascript.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/less.js/dist/less-1.7.0.min.js"></script>
    <script src='bower_components/d3/d3.min.js'></script>
    <script src='bower_components/lodash/dist/lodash.min.js'></script>
    <script src='bower_components/angular-charts/dist/angular-charts.js'></script>
    <script src="src/directives.js"></script>
    <script src="src/services.js"></script>
    <script src="src/controllers.js"></script>
    <script src="src/filters.js"></script>
    <script src="src/pivotchart.js"></script>
  </body>
</html>
