<div>
  <div class="form-group">
    <label>
      Scale
      <select ng-model="axis.type" class="form-control"
        ng-options="type.type as type.name for type in scaleTypes">
      </select>
    </label>
  </div>
  <div class="form-group" ng-show="axis.type == 'ordinal'">
    <label>
      Category spacing
      <input type="text" percentage ng-model="axis.band"
        class="form-control">
    </label>
  </div>
  <div class="form-group" ng-show="axis.type == 'ordinal'">
    <label>
      Cluster spacing
      <input type="text" percentage ng-model="axis.band2"
        class="form-control">
    </label>
  </div>
  <div class="radio" ng-show="axis.type != 'ordinal'">
    <label>
      <input type="radio" ng-model="axis.auto" ng-value="true"> Auto
    </label>
  </div>
  <div class="radio" ng-show="axis.type != 'ordinal'">
    <label>
      <input type="radio" ng-model="axis.auto" ng-value="false">
      <div class="form-group form-inline axis-domain">
        <label>
          Min
          <input type="number" ng-model="axis.min" class="form-control">
        </label>
        <label>
          Max
          <input type="number" ng-model="axis.max" class="form-control">
        </label>
      </div>
    </label>
  </div>
  <div class="form-group">
    <label>
      Format
      <input type="text" ng-model="axis.format" class="form-control">
    </label>
  </div>
  <div class="form-group" ng-show="axis.type == 'linear'">
    <label>
      Ticks
      <input type="number" ng-model="axis.ticks" class="form-control">
    </label>
  </div>
</div>
