<svg xmlns="http://www.w3.org/2000/svg">
  <style>
    .x.axis .domain { display: none; }
  </style>
  <defs>
  <clipPath ng-attr-id="drawArea{{id}}">
      <rect x="0" ng-attr-y="{{y.range()[1]}}"
        ng-attr-width="{{innerWidth}}"
        ng-attr-height="{{y.range()[0]-y.range()[1]}}" />
    </clipPath>
  </defs>
  <g transform="translate({{margin}},0)">
    <g ng-repeat="xx in visibleXAxes track by $index"
      ng-attr-transform="translate(0,{{height - axisPadding * $index}})">
      <g d3-axis class="x axis" ticks="chart.hAxis.ticks"
        tick-format="chart.hAxis.format" ng-repeat="d in xAxisPositions(xx) track by $index"
      ng-attr-transform="translate({{d}},0)" orient="bottom" scale="xx" tick-size="0">
      </g>
    </g>
    <!-- Draw one zero line in case negative values exist -->
    <line ng-attr-x1="{{width-margin}}" ng-attr-y1="{{y(0)}}" ng-attr-y2="{{y(0)}}"
      style="stroke: #333;">
    </line>
    <g d3-axis class="y axis"
      orient="left" ticks="chart.vAxis.ticks" tick-format="chart.vAxis.format" scale="y">
    </g>
    <g ng-repeat="d in data track by $index">
      <rect ng-repeat="_unused in maps.rows track by $index"
        ng-attr-width="{{barWidth}}"
        ng-attr-x="{{barX(d, $index)}}"
        ng-attr-y="{{barY(d, $index)}}"
        ng-attr-height="{{barHeight(d, $index)}}"
        ng-attr-clip-path="url(#drawArea{{id}})"
        style="fill: {{barColor(d, $index)}};">
        <!-- $index = seriesIdx, $parent.$index = categoryIdx -->
      </rect>
    </g>
  </g>
</svg>
