<div class="popover" tabindex="-1" ng-show="content">
  <div class="arrow"></div>
  <div class="modal-content">
    <div class="modal-body">
      <div class="form-group" ng-show="chart.type.type == 'pivot-lines'">
        <label>
          <div class="title">Line interpolation</div>
          <select ng-model="chart.lineInterpolation" class="form-control"
            ng-options="mode as mode for mode in lineInterpolationModes">
          </select>
        </label>
      </div>
      <div class="form-group" ng-show="chart.type.hasMarkers">
        <label>
          <div class="title">Marker size</div>
          <div ui-slider="{min: 0, max: 20, step: 1}"
            ng-model="chart.markers.size"></div>
          <span>{{chart.markers.size}}</span>
        </label>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-primary" ng-click="$hide()">OK</button>
    </div>
  </div>
</div>
