<svg xmlns="http://www.w3.org/2000/svg"
  ng-attr-width="{{width}}"
  ng-attr-height="{{height}}"
  ng-attr-style="font-family:{{font.family}}; font-weight:{{font.weight}}; background:{{background}}; font-size:{{fontSize}};">
  <style>
    .axis path,
    .axis line {
      fill: none;
      stroke: #333;
    }
    .x.axis text { alignment-baseline: middle; }
    .title { text-anchor: middle; }
    .title text { alignment-baseline: hanging; }
  </style>
  <g>
    <g transform="translate({{width/2}},{{margin.top}})"
      ng-show="showTitle" class="title">
      <text style="font-size: {{titleSize}}pt;">{{title}}</text>
    </g>
    <g transform="translate({{margin.left}},{{margin.top+titleHeight}})" ng-transclude>
    </g>
  </g>
  <g transform="translate({{width - legendWidth - margin.right}},{{margin.top + titleHeight}})" ng-show="showLegend">
    <d3-legend></d3-legend>
  </g>
</svg>
