<svg xmlns="http://www.w3.org/2000/svg">
  <g
    ng-repeat="node in nodes"
    ng-attr-transform="translate({{node.x + 0.5}}, {{node.y + 0.5}})">
    <rect
      ng-attr-width="{{node.dx}}"
      ng-attr-height="{{node.dy}}"
      style="fill: {{getColor(node)}}; stroke: {{chart.backgroundRgb}};">
    </rect>
    <text
      ng-repeat="line in getText(node) track by $index"
      ng-attr-y="{{15 + 15 * $index}}"
      style="fill:{{textColor}}; font-weight:500;"
      x="5">
      {{line}}
    </text>
  </g>
</svg>
